doctype
html
	link(href="apply.css" rel="stylesheet" type="text/css")
	head
		title EMBLEM - Extraordinary Minority Business Leaders, Entrepreneurs, Mentors 
	body
		header 
			h1 EMBLEM
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p EMBLEM brought to you by #{ author }