extend layout
block content
  section.speakers
    .section-head
      h2 Speakers
    .section-body
      ul.speakers
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Edwina Lee
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Eric Chen
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Eric Chen
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Eric Chen
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Eric Chen
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Eric Chen
        li.speaker
          .speaker-inner
            .speaker-image
              img(src=)
              span.speaker-name Eric Chen      
